body {
  background-image: url(nebula.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden; 
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    margin-bottom: 20px;
}

h1 {
    color: rgb(248, 215, 255);
    line-height: 2;
    text-align: center;

}

.container {
  margin: 50px auto;
  max-width: 1000px;
  border-radius: 25px; /* FIXED */
}

form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 50px;
}

.instruction {
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    color: rgb(0, 0, 0);
    background-color: rgba(241, 229, 245, 0.452);

}

.instruction::placeholder {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-size: 14px;
}



.submit-button {
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.932);
    font-size: 15px;
    color: rgb(66, 6, 105);
    padding: 15px 25px;

}

.explaination {
    font-size: 20px;
    color: antiquewhite;
    padding: 50px;
    line-height: 50px;
    border-radius: 10px;
    border-left: 5px solid rgba(128, 0, 128, 0.329);
    box-shadow: inset -5px -5px  rgba(0, 0, 0, 0.5);
;
   
}

.explaination a {
  color: #cc99ff;         
  text-decoration: underline; 
  font-weight: bold;   
}

.explaination a:hover {
  color: #ffccff;         
  text-decoration: none;  
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    color: rgb(243, 240, 245);
}

footer a {
    color: antiquewhite;
}